.box {
  padding: 40px 80px;
  box-sizing: border-box;
}

/* 平板尺寸 (寬度 <= 1024px) */
@media (max-width: 1024px) {
  .box {
    padding: 30px 40px;
  }
}

/* 手機尺寸 (寬度 <= 768px) */
@media (max-width: 768px) {
  .box {
    padding: 20px 20px;
  }
}
